* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

main {
    width: 100%;
}

#home {
    width: 100%;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* inicio do menu */
/* inicio do menu */
/* inicio do menu */
/* #menu {
    margin-top: 0px;
    width: 100%;
    height: 37px;
    background-color: black;
} */

/* ul {
    color: rgb(2, 0, 0);
    font-weight: 900;
    list-style-type: none;

    text-decoration: none;

    text-align: right;

} */

/* #ulmenuli {
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    color: rgb(255, 255, 255);
} */

/* #ulmenuli a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

li {
    margin-top: 10px;
} */

/* fim do menu */
/* fim do menu */
/* fim do menu */

/* #caixa {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;

} */

/* #divtituloinfoevent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloinfoevent {
    font-size: 24px;
    text-align: center;
    margin-top: 35px;
} */

/* #tituloinfoevent_caso {
    width: 30%;
} */

/* #cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes_cadastrais {
    width: 24%;
}

#fotoveiculo {
    width: 12%;
    margin-top: 20px;
    text-align: center;
} */

/* #enviarfoto {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
} */

/* #botcadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* #textofotveiculo {
    padding: 10px;
    text-align: center;
} */

/* #botaocadastro {
    margin-top: 15px;
    width: 10%;
    background-color: #00B4D8;
    border-radius: 5px;
} */

/* #textobotao {
    text-align: center;
    margin-top: 5px;
}

footer {
    background-color: black;
    width: 100%;
    height: auto;
    text-align: center;
}

#titulorodape {
    margin-top: 50px;
    font-size: 20px;
    color: #BDC3C7;
}

.titulorodape1 {
    margin-top: 10px;
    font-size: 15px;
    color: #BDC3C7;

}

.titulorodape2 {
    margin-top: 10px;
    font-size: 15px;
    color: #BDC3C7;
} */

.main_container {
    width: 100%;
    min-height: 100vh;
    background-color: #FBFBFB;
}

.header_container {
    width: 100%;
    height: 50px;
    background-color: #000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin: 0;
    padding-right: 20px;
    width: 100%;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
}

.form_title {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.form_container_content {
    width: 450px;
}

.form_div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form_input {
    outline: none;
    border: none;
    font-size: 18px;
    height: 50px;
    padding: 8px 16px;
}

.form_input_label {
    font-size: 20px;
    font-weight: 700;
}

.inputFileLabel {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    width: 100%;
    text-align: center;
}

.form_btn {
    margin-top: 20px;
    border: none;
    background-color: #00B4D8;
    color: #fff;
    width: 100%;
    padding: 8px 16px;
    cursor: pointer;
}

.form_img {
    width: 100%;
    height: 300px;
}

/* Apenas para a pagina de eventos */
.form_input_select {
    padding: 10px;
    outline: none;
    border: none;
}

.form_textarea {
    outline: none;
    border: none;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    min-height: 200px;
}

.padding {
    padding-bottom: 80px;
}

/* Alerts */
.alert {
    width: 100%;
    padding: 20px;
    word-wrap: break-word;
    color: #fff;
    text-align: center;
}

.alert_danger {
    background-color: #FF4D6D;
}

.alert_sucess {
    background-color: #0EAD69;
}

.hidden {
    display: none;
}
